<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058810535845-8bbqfg8g25dpsdtvpjcttlrgv28292ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058810535845-8bbqfg8g25dpsdtvpjcttlrgv28292ug</string>
	<key>API_KEY</key>
	<string>AIzaSyC1XftthBWniZn7VlInQ-OnKK7p5pGuz4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1058810535845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-351e2</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-351e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058810535845:ios:a137282e03dc4343c6d24c</string>
</dict>
</plist>